# Emscripten intermediate objects
project/emscripten/obj/
*.o
*.rsp
project/emscripten/*.rsp
project/emscripten/link.rsp
project/emscripten/build*.log
project/emscripten/build_output*.txt
__pycache__/
